 header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 10px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-image: url(imagens/cabeçalho.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.topo {
    color:white;
    width: 313px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.textotopo {
    color:white;
    text-align: center;
    font-family: open sans; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.botao {
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    gap: 16px;

}
.botao1 {
    width: 205px;
    height: 44px;
    background-color: white;
    border-radius: 28px;
    flex-shrink: 0;
    color: black;
    text-align: center;
    font-family: open sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.botao2 {
    width: 281px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 28px;
    background-color: black;
    color:white;
    text-align: center;
    font-family: open sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.botao1, .botao2 {
    margin-top: 16px;
}
main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.secao {
    display: flex;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 5px;
}
.secao2 {
    background-color: lightgrey;
}
.secaofinal {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    padding: 5px;

}
.final {
    display: flex;
    width: 100%;
    height: 60%;
    padding: 35px 0px 35px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: black;
}
@media (max-width: 600px) {
    header {
    width: 428px;
    height: 506px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-items: center;
    padding: 0px 24px;
    font-size: 20px;
    }
    .topo {
        width: 428px;
        padding: 0px 24px;
        font-size: 32px;
        line-height: normal;
    }
    .textotopo {
        font-size: 15px;
    }
    .botao {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 12px;
        padding: 10px;
    }
    .botao1 {
        align-items: center;
        width: 380px;
        height: 50px;
        background-color: white;
        border-radius: 28px;
        flex-shrink: 0;
        color: black;
        text-align: center;
        font-family: open sans;
        font-size: 10px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
    }
    .botao2 {
        align-items: center;
        width: 380px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 28px;
        background-color: black;
        color:white;
        text-align: center;
        font-family: open sans;
        font-size: 10px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
    }
    .botao1, .botao2 {
        margin-top: 10px;
    }
    main {
        display: flex;
        width: 428px;
        flex-direction: column;
    }
    h2 {
        width: 428px;
        line-height: normal;
        font-weight: 800;
    }
    p {
        font-size: 16px;
    }
    .secao {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 428px;
        justify-content: center;
        align-items: center:
    }
    .image {
        width: 380px;
        height: 250px;
    }
    .secaofinal {
        display: flex;
        width: 428px;
        flex-direction: column;
        background-color: lightgray;
        flex-wrap: wrap;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    
    }
    .imagefinal {
        width: 162px;
        height: 45px;
    }
    .final {
        display: flex;
        width: 460px;
        height: 25px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: black;
    }
    
    }